In [3]:
import ROOT
import pandas as pd
from root_numpy import tree2array
from os import path
from glob import glob
import seaborn as sns
from matplotlib import pyplot as plt
import uproot

In [4]:
data_path = "../../raw_data/trees/"
proc_data_path = "../processed_data/"
signal = "signal_"

In [5]:
def root2csv(root_file,signal=True, weight=None, sample_name=""):
    
    file = uproot.open(root_file)
    
    keys = file.keys()
    print(keys)
    tree = file["T"]
    df =tree.pandas.df(tree.keys())
    display(df.head())
    if signal:
        df["label"]=1
    else:
        df["label"]=0

    
    if weight != None:
            df["weight_column"] = weight
            
    df["sample"] = sample_name
            
    file_name = root_file.split("/")[-1].split(".")[0]
    df.to_csv(f"{proc_data_path}/{file_name}.csv", index = False)
    return df

In [6]:
all_roots = glob(f"{data_path}/*.root")
print(all_roots)

signal_roots = glob(f"{data_path}/{signal}*.root")

bg_roots = list(set(all_roots) - set(signal_roots) )

['../../raw_data/trees/bg4.root', '../../raw_data/trees/bg8.root', '../../raw_data/trees/signal_m600_wp.root', '../../raw_data/trees/bg9.root', '../../raw_data/trees/bg5.root', '../../raw_data/trees/signal_m600_np.root', '../../raw_data/trees/bg10.root', '../../raw_data/trees/bg2.root', '../../raw_data/trees/bg3.root', '../../raw_data/trees/bg11.root', '../../raw_data/trees/bg1.root', '../../raw_data/trees/bg6.root', '../../raw_data/trees/signal_m800_np.root', '../../raw_data/trees/signal_m1000_np.root', '../../raw_data/trees/signal_m1000_wp.root', '../../raw_data/trees/bg7.root', '../../raw_data/trees/signal_m800_wp.root']

In [7]:
xsec_fb={"bg1.root":878.2 ,"bg2.root":2370,"bg3.root":8.168,"bg4.root":22.59 ,"bg5.root":195.3,
         "bg6.root":49.6,"bg7.root":52.55 ,"bg8.root":112.7 ,"bg9.root":83.24,"bg10.root":26.85,
        "bg11.root":9.153,
         "signal_m600_wp.root": 2.9,"signal_m600_np.root":1.22,"signal_m800_np.root":0.26,
         "signal_m1000_np.root":0.077,"signal_m1000_wp.root":0.34,"signal_m800_wp.root":0.84}

n_events={"bg1.root":3310415 ,"bg2.root":8000000,"bg3.root":50000,"bg4.root":100000 ,"bg5.root":579680,
         "bg6.root":169408,"bg7.root":211146 ,"bg8.root":1000000 ,"bg9.root":1000000,"bg10.root":1000000,
        "bg11.root":1050000,
         "signal_m600_wp.root": 100000,"signal_m600_np.root":100000,"signal_m800_np.root":100000,
         "signal_m1000_np.root":100000,"signal_m1000_wp.root":100000,"signal_m800_wp.root":100000}

sample_names={"bg1.root":"drell-yan","bg2.root":"ttbar dileptonic","bg3.root":"ttbarW","bg4.root":"ttbarZ" ,
          "bg5.root":"ww+2j", "bg6.root":"wz+2j","bg7.root":"zz+1j" ,"bg8.root":"www" ,
          "bg9.root":"wwz","bg10.root":"wzz","bg11.root":"zzz",
         "signal_m600_wp.root": "m600_wp","signal_m600_np.root":"m600_np","signal_m800_np.root":"m800_np",
         "signal_m1000_np.root":"m1000_np","signal_m1000_wp.root":"m1000_wp","signal_m800_wp.root":"m800_wp"}

In [8]:
l_w = []
for sig_df in signal_roots:
    f = sig_df.split("/")[-1]
    print(f)
    print(sig_df)
    w = xsec_fb[f]*3000/n_events[f]
    l_w.append({"name": f,"weight":w})
    df = root2csv(sig_df,signal=True, weight=w, sample_name = sample_names[f])

signal_m600_wp.root
../../raw_data/trees/signal_m600_wp.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,True,False,False,425.007416,3.714916,0.864284,4.027474,3.775973,3.545173,...,451.291794,111.380531,0.000005,375.376190,352.936462,0,2,6,2,0
1,False,True,False,False,411.510498,3.612974,1.561429,2.950814,3.861361,2.849407,...,249.158165,247.435196,-1.000000,511.286713,-1.000000,0,2,5,1,0
2,True,False,False,False,256.536896,1.095821,2.680918,3.191985,3.953948,0.768903,...,493.688522,126.539291,26.788755,444.756500,328.803192,0,2,6,3,1
3,False,False,True,False,369.315887,3.267153,1.118058,3.789913,3.394613,3.267109,...,462.642914,141.395737,0.000005,397.596130,370.169830,1,1,4,3,0
4,False,False,True,False,203.930283,2.444793,2.265287,1.411364,6.027497,0.962318,...,195.469296,230.270676,108.489563,1083.682495,733.251343,1,1,4,3,1

signal_m600_np.root
../../raw_data/trees/signal_m600_np.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,False,True,False,129.247772,0.615169,2.461213,2.934463,2.405518,0.407817,...,616.299843,185.119659,122.225426,476.696106,391.704285,2,2,4,2,0
1,False,False,True,False,140.801224,1.803955,3.788020,2.570918,2.504816,1.156652,...,221.274803,138.088333,-1.000000,384.889709,-1.000000,1,2,4,1,0
2,True,False,False,False,156.996902,1.145541,2.884908,4.024328,2.009488,1.121905,...,291.017761,23.404333,80.786667,320.541199,219.293167,0,2,5,2,1
3,False,False,True,False,150.725815,3.452769,2.875915,0.677845,6.331644,3.390983,...,154.737862,132.181122,-1.000000,373.022827,-1.000000,1,1,6,1,0
4,False,True,False,False,185.741669,3.234789,0.591070,3.111537,5.347713,2.826475,...,141.145416,131.764404,80.123581,390.061951,276.492859,0,2,6,3,2

signal_m800_np.root
../../raw_data/trees/signal_m800_np.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,False,True,False,692.345215,3.069448,3.217422,3.065364,0.297233,0.207868,...,622.383591,109.243187,45.663986,722.673523,586.197266,1,1,7,2,0
1,False,False,True,False,400.422485,3.472250,0.978205,2.972970,3.220280,3.066447,...,318.079185,56.907883,74.979462,237.695541,222.617462,1,1,6,2,1
2,False,False,True,False,254.244385,1.732149,4.028542,4.662974,3.851499,1.253438,...,402.709663,58.684505,-1.000000,311.940643,-1.000000,2,1,5,1,0
3,False,False,False,True,241.468857,1.063284,3.430385,2.553520,4.884607,1.013368,...,649.773544,0.000008,167.411179,414.861786,411.284363,2,1,4,2,0
4,True,False,False,False,319.180084,1.036041,3.274670,2.240358,8.074297,1.006766,...,856.252090,166.599030,16.318319,536.055298,432.670593,0,3,4,5,0

signal_m1000_np.root
../../raw_data/trees/signal_m1000_np.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,True,False,False,False,293.057678,1.436704,3.135153,4.399627,3.960371,1.430660,...,631.638550,58.952221,1.302176,511.157623,335.664307,0,3,6,4,0
1,False,False,True,False,188.887833,2.050138,5.480374,5.522654,4.066534,0.157699,...,262.654924,314.911316,83.231148,965.317383,923.369934,1,1,9,3,1
2,False,False,False,True,353.880280,2.697807,2.572431,0.800332,3.115508,2.686701,...,963.536278,265.468231,124.775352,1079.539551,373.663544,2,0,5,3,0
3,False,False,True,False,487.160004,5.115534,1.631850,3.696213,5.143553,5.053784,...,898.339542,79.491310,30.754648,494.995117,468.799500,2,2,3,3,1
4,False,False,False,True,417.257202,3.123808,2.654988,5.667533,0.887465,3.107585,...,490.037140,382.005585,78.354904,1151.982544,658.218994,2,0,5,3,1

signal_m1000_wp.root
../../raw_data/trees/signal_m1000_wp.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,True,False,False,218.096573,3.999310,2.620574,3.437818,5.365966,3.993476,...,253.736343,82.008400,85.986794,277.468719,275.437561,0,2,7,2,2
1,False,False,False,True,426.047028,4.689771,1.933848,2.795311,4.590346,4.613574,...,523.181808,88.117805,22.604563,574.841125,346.820953,2,0,6,3,2
2,False,False,True,False,139.844376,0.989493,4.993438,4.311586,6.627547,0.633388,...,297.662781,72.068031,85.449326,962.506775,803.635559,1,1,6,5,3
3,True,False,False,False,271.006165,3.642887,2.341587,1.668412,2.868679,3.515668,...,362.502556,0.000005,95.362595,314.251251,312.725159,0,2,7,3,0
4,False,True,False,False,563.575989,4.752345,3.846258,1.016700,0.763981,4.518870,...,694.774292,92.801697,17.932178,1011.443604,423.835968,0,4,5,2,1

signal_m800_wp.root
../../raw_data/trees/signal_m800_wp.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,True,False,False,False,160.289886,1.695916,3.268653,4.734418,3.895281,1.353520,...,235.208218,77.394852,91.279099,820.908264,525.470764,0,2,4,2,2
1,False,False,True,False,123.597099,0.338743,3.663820,3.325109,0.758202,0.298782,...,747.966928,89.674805,159.382980,1290.986084,751.314880,1,2,4,3,2
2,False,True,False,False,129.304092,1.422015,4.505610,4.132311,3.112617,0.591793,...,174.833733,80.170242,60.887192,277.927673,232.348495,0,2,7,2,1
3,True,False,False,False,172.901810,5.254348,1.973330,3.297043,5.533523,5.226228,...,315.740288,256.975800,84.511116,779.147156,220.979279,0,2,5,3,1
4,False,False,False,True,216.189346,1.301852,4.008015,3.954057,2.301972,0.252916,...,336.518669,76.564079,53.850670,284.331146,270.922974,2,0,5,3,1

In [9]:
for bg_df in bg_roots:
    bg_name = bg_df.split("/")[-1]
    print(xsec_fb[bg_name])
    print(bg_df)
    w = xsec_fb[bg_name]*3000/n_events[bg_name]
    l_w.append({"name": bg_name,"weight":w})
    df = root2csv(bg_df,signal=False,weight=w, sample_name=sample_names[bg_name])

26.85
../../raw_data/trees/bg10.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,True,False,False,420.821808,3.316742,3.568832,1.362644,4.704678,3.264780,...,635.018040,100.944191,167.159531,553.337036,394.889496,0,3,5,2,0
1,False,False,False,True,457.292633,6.154596,2.799779,3.657755,5.489526,5.230826,...,240.043034,70.144859,-1.000000,363.403503,-1.000000,2,0,4,1,1
2,True,False,False,False,372.787720,1.750074,2.542247,4.167737,4.691638,1.418235,...,442.564407,55.089451,57.586178,325.738434,280.102753,0,2,3,4,0
3,False,False,True,False,242.680511,3.490906,2.920990,0.598875,4.389764,3.490904,...,265.361908,105.417595,-1.000000,424.708405,-1.000000,1,1,3,1,0
4,False,False,True,False,307.753082,2.333461,2.128857,4.195456,1.984104,1.766085,...,495.939409,0.000000,129.206589,441.837799,394.257416,1,2,6,2,0

8.168
../../raw_data/trees/bg3.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,False,False,True,335.603729,2.697059,2.943248,4.179493,6.143177,0.513968,...,210.073948,101.326218,81.054420,318.102112,208.693619,2,0,5,2,1
1,True,False,False,False,170.421005,1.582085,2.744103,4.037096,1.568433,1.209447,...,313.736038,135.209854,4.735390,344.315094,269.438446,0,2,6,2,0
2,False,False,True,False,142.170410,3.684070,3.156978,4.415918,1.496042,2.042720,...,88.281496,118.135559,54.471806,387.819550,304.965454,1,1,7,2,0
3,False,False,True,False,126.789757,1.227245,2.170470,3.286453,8.087349,1.100480,...,217.227509,105.332497,90.097351,345.770081,343.393707,1,1,4,2,1
4,False,False,True,False,146.241028,1.793281,2.544584,3.851881,5.661599,1.259194,...,168.737637,48.176361,-1.000000,302.297180,-1.000000,1,1,5,1,0

49.6
../../raw_data/trees/bg6.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,False,True,False,560.845764,3.986614,2.565437,1.771185,3.272379,3.986604,...,1089.262344,96.155251,211.523071,923.956848,478.101990,1,2,4,2,0
1,False,False,True,False,148.877151,0.884757,3.541575,4.003823,3.161969,0.807435,...,539.448059,91.243698,91.443970,470.220154,427.329865,1,2,4,3,2
2,False,False,True,False,321.811340,4.357411,1.944900,2.926388,2.797588,4.146973,...,298.790436,16.881464,29.920269,361.276489,220.871521,1,1,4,3,0
3,False,False,False,True,340.282074,1.886602,3.508705,3.525458,2.709605,0.405969,...,394.970524,79.228531,3.899820,386.780914,282.534760,3,0,4,2,1
4,False,True,False,False,258.774780,2.522234,3.267315,5.531628,4.767538,1.994694,...,309.173904,89.483299,33.314568,285.890350,245.526947,0,3,5,2,1

195.3
../../raw_data/trees/bg5.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,False,True,False,148.036835,3.347452,2.478395,2.027092,0.916422,3.190715,...,131.584061,77.442902,-1.000000,201.293945,-1.000000,1,1,6,1,1
1,False,False,True,False,129.683243,1.272146,3.260944,3.168033,1.316446,0.597887,...,325.262478,113.795006,0.000005,348.166168,292.311005,1,1,6,2,0
2,False,True,False,False,135.857285,0.960742,3.216411,3.203899,0.129132,0.263774,...,282.077950,111.522568,-1.000000,822.361023,-1.000000,0,2,5,1,0
3,False,True,False,False,165.329895,2.541998,4.551955,2.304590,7.018810,1.364035,...,144.700340,111.202904,38.787548,316.221588,226.308762,0,2,4,2,0
4,False,True,False,False,151.345825,0.972190,2.917718,3.766532,2.792303,0.815322,...,362.789467,62.332893,0.000005,431.484131,270.226898,0,2,4,2,0

878.2
../../raw_data/trees/bg1.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,False,False,True,124.398102,0.516749,3.717498,3.260317,8.494599,0.299189,...,479.713120,54.437454,124.398094,511.600647,474.355927,2,0,2,2,0
1,False,False,False,True,201.092392,3.049232,3.645182,1.400612,3.306712,3.046946,...,348.981392,137.234390,43.635101,428.708435,303.922363,2,0,6,2,0
2,False,True,False,False,186.465408,2.594392,2.450032,0.681637,5.407978,2.477186,...,255.363235,68.831688,44.187801,261.701416,232.351471,0,2,6,2,1
3,False,False,False,True,133.614380,2.766083,1.692229,4.337282,3.508685,2.643300,...,132.292400,116.758453,14.012122,305.124634,201.109161,2,0,7,2,0
4,False,False,False,True,139.668976,1.288810,1.695759,0.793931,4.009934,0.844926,...,264.238113,93.831100,96.631935,284.636566,267.474304,2,0,6,3,1

2370
../../raw_data/trees/bg2.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,True,False,False,126.100006,2.554661,2.018176,0.964858,3.876685,2.044105,...,117.636375,38.604832,67.721733,239.349625,211.465912,0,2,6,2,1
1,False,False,True,False,334.237244,2.777251,5.712384,4.770966,4.315251,1.616978,...,230.881958,162.335068,55.934845,469.803711,235.501602,1,1,6,2,0
2,False,False,False,True,373.096161,3.300943,1.938633,4.173688,3.932536,1.958738,...,193.049210,26.995131,22.162598,227.462692,204.228638,2,0,3,2,0
3,False,True,False,False,183.956879,2.940300,3.412778,0.757219,5.712798,2.871039,...,177.898399,116.882416,120.241730,355.945648,288.749603,0,2,4,2,0
4,False,False,True,False,257.817505,2.059858,5.712763,3.738400,3.407206,2.033618,...,300.936066,82.624001,91.398521,226.160721,224.441666,1,1,7,2,2

22.59
../../raw_data/trees/bg4.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,False,True,False,524.184631,4.635239,3.232043,3.051231,7.093287,3.504074,...,226.208443,131.592194,30.206347,326.968231,224.804047,1,1,6,2,0
1,False,False,True,False,194.392273,2.391294,3.877806,2.466435,5.709507,0.590220,...,134.614471,72.662521,-1.000000,299.886505,-1.000000,1,1,7,1,1
2,False,False,True,False,200.769318,3.536954,0.913957,2.633233,2.511208,2.708867,...,172.521154,-1.000000,-1.000000,-1.000000,-1.000000,1,2,7,0,0
3,False,True,False,False,298.932587,2.457409,2.661768,2.134544,1.262539,2.016983,...,286.627586,106.241035,43.595444,280.771881,277.448181,0,2,7,3,0
4,False,False,True,False,185.651001,2.399132,2.677964,2.098164,6.586505,1.454961,...,149.593494,36.668144,-1.000000,236.576477,-1.000000,1,1,6,1,0

83.24
../../raw_data/trees/bg9.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,False,True,False,261.401672,3.522551,2.210492,1.646454,4.735307,3.483034,...,329.646706,32.085758,34.714603,322.974121,257.959503,1,2,2,2,0
1,False,True,False,False,171.917816,1.327704,2.970341,3.776612,2.709127,0.913257,...,273.900124,79.729836,-1.000000,646.263000,-1.000000,0,2,1,1,1
2,False,False,True,False,120.214806,1.742789,3.475437,2.426020,7.460317,0.269054,...,161.456818,149.511749,90.707863,458.202026,329.435242,1,1,4,2,1
3,False,True,False,False,190.596863,3.164945,3.367518,4.776131,4.576473,1.904017,...,135.250774,24.507648,-1.000000,284.595917,-1.000000,0,2,6,1,0
4,False,False,True,False,210.461853,2.615944,3.692695,1.602058,5.384914,2.066048,...,243.740494,58.560299,112.128990,313.914124,257.193542,1,2,3,2,0

112.7
../../raw_data/trees/bg8.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,False,False,False,True,240.757172,1.248855,3.678669,2.987610,3.986957,0.950656,...,397.325256,80.947319,0.984286,559.508972,253.497055,2,0,1,2,1
1,False,False,True,False,234.521210,2.598594,3.169073,5.616963,5.543985,1.799760,...,175.774269,42.386238,64.374039,320.456421,277.624420,1,1,3,2,0
2,False,False,True,False,145.263184,1.615818,4.388677,3.532316,4.273900,0.428456,...,169.955975,85.658592,31.394955,347.472565,212.904327,1,1,4,2,1
3,False,False,True,False,420.887665,4.698941,2.300028,3.147590,5.543469,4.697035,...,654.035431,90.265488,20.685259,581.719116,523.208008,1,1,5,5,1
4,False,False,True,False,215.915878,2.007353,3.101571,1.441400,4.925926,1.845682,...,599.427015,0.000000,50.543171,574.038391,361.198700,1,1,4,2,0

52.55
../../raw_data/trees/bg7.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,True,False,False,False,345.448486,1.671303,2.982915,1.410397,5.800114,1.341578,...,501.690994,93.910942,143.559128,482.149200,391.736908,0,3,4,3,1
1,False,False,False,True,147.185333,1.865457,3.064265,2.714413,4.691916,0.992649,...,148.793678,70.840988,91.378677,466.599457,400.104706,2,0,3,2,2
2,False,False,True,False,131.050873,1.900831,0.923097,0.995041,3.183952,0.977563,...,186.382576,0.000000,43.910202,280.760345,229.418411,2,1,5,2,0
3,False,False,True,False,429.155060,3.636296,2.294894,2.442029,4.464965,3.630381,...,656.119545,39.474686,94.945290,402.749969,400.005676,2,2,2,2,1
4,False,False,True,False,315.981415,2.889736,3.070376,0.549244,5.208012,2.327127,...,325.948662,188.907425,35.126335,689.579895,438.247589,1,2,4,2,0

9.153
../../raw_data/trees/bg11.root
[b'T;1']

,mumuSS,mumuOS,emu,ee,mll,drll,drjl1,drjl2,drlmet,dphi_ll,...,htlep,fj1mass,fj2mass,fj1pt,fj2pt,nel,nmu,nj,nfj,nfj_w
entry,,,,,,,,,,,,,,,,,,,,,
0,True,False,False,False,171.960815,2.736558,3.379190,1.230061,2.992701,2.323979,...,495.401826,95.704796,95.772804,667.414429,494.259918,0,2,6,4,1
1,False,True,False,False,450.503479,3.298132,3.783664,2.683480,3.478048,2.144460,...,352.968937,90.954628,-1.000000,395.354706,-1.000000,0,2,6,1,1
2,False,False,False,True,765.577332,2.959017,3.126189,4.363590,4.747586,0.555832,...,528.835349,47.807465,91.481331,455.676300,365.269623,4,0,3,2,1
3,False,False,False,True,151.531265,1.216783,1.575919,2.720460,1.396353,0.917542,...,289.731663,56.582268,58.130939,357.041168,255.016098,3,0,4,2,0
4,False,False,True,False,797.437561,3.700670,2.764916,0.961040,7.273595,3.584747,...,1013.483398,261.576508,91.940369,674.434998,589.422974,1,2,4,4,2

In [10]:
df_weight = pd.DataFrame(l_w) 
display(df_weight)

                    name    weight
0    signal_m600_wp.root  0.087000
1    signal_m600_np.root  0.036600
2    signal_m800_np.root  0.007800
3   signal_m1000_np.root  0.002310
4   signal_m1000_wp.root  0.010200
5    signal_m800_wp.root  0.025200
6              bg10.root  0.080550
7               bg3.root  0.490080
8               bg6.root  0.878353
9               bg5.root  1.010730
10              bg1.root  0.795852
11              bg2.root  0.888750
12              bg4.root  0.677700
13              bg9.root  0.249720
14              bg8.root  0.338100
15              bg7.root  0.746640
16             bg11.root  0.026151

In [11]:
if glob(f"{proc_data_path}/all_bg.csv"):
    print(f"{proc_data_path}/all_bg.csv already exists")
else:
    combined_csv = pd.concat([pd.read_csv(f) for f in glob(f"{proc_data_path}/bg*") ])
    #export to csv
    print(f"generating {proc_data_path}/all_bg.csv ")
    combined_csv.to_csv( f"{proc_data_path}/all_bg.csv", index=False)

generating ../processed_data//all_bg.csv

In [12]:
# generating signal_x + all_bg csv file
for sig in glob(f"{proc_data_path}/signal*"):
    print(sig)
    sig_name = sig.split("/")[-1].split(".")[0]
    if glob(f"{proc_data_path}/all_{sig_name}_bg.csv"):
        print(f"{proc_data_path}/all_{sig_name}_bg.csv already exists")
    else:
        
        combined_csv = pd.concat([pd.read_csv(sig),pd.read_csv(f"{proc_data_path}/all_bg.csv")])
        combined_csv.to_csv( f"{proc_data_path}/all_{sig_name}_bg.csv", index=False)

../processed_data/signal_m600_np.csv
../processed_data/signal_m600_wp.csv
../processed_data/signal_m1000_np.csv
../processed_data/signal_m800_np.csv
../processed_data/signal_m800_wp.csv
../processed_data/signal_m1000_wp.csv